APP_NAMESPACE=swish-analytics
TEST_NAMESPACE=swish-analytics-test
SKAFFOLD_CACHE_ARTIFACTS=false
SKAFFOLD_KUBE_CONTEXT=minikube
SKAFFOLD_NO_PRUNE=false
SKAFFOLD_PORT_FORWARD=user
SKAFFOLD_SKIP_TESTS=false
SKAFFOLD_TAIL=true